@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-karla);
}

@theme inline {
  --color-brand-primary: _;
  --color-brand-secondary: _;
  --color-brand-accent: _;
}

@layer components {
  .text-title {
    @apply font-medium text-5xl -tracking-[3px];
  }

  .text-header {
    @apply font-medium text-3xl -tracking-[2px];
  }

  .text-subheader {
    @apply font-normal text-2xl -tracking-[2px];
  }

  .card {
    @apply shadow-md p-5 border rounded-md;
  }

  .hover-pointer {
    @apply hover:cursor-pointer;
  }

  .hover-translate {
    @apply transition-all hover:-translate-y-0.5;
  }

  .icon {
    @apply size-5 hover:cursor-pointer;
  }
}
